body {
  padding: 5px;
  margin: 5px;
}

h1 {
  width: 500px;
  font-size: 35px;
}
p {
  font-size: 15px;
  text-align: justify;
}

h2 {

}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 20px;
}