
        h1{
            font-size: 65px;
            color:orange;
            font-family: sans-serif
        }
        ul{
            background-color: tomato;
            line-height: 2em;
            text-align: center;
            ]
        }
        .Cordofundo{
            background-color: teal;
            font-style:oblique 
        }

        p{
          font-weight: 600;
          font-size: 3em;
          text-decoration: cornsilk; /*Não está aplicando ? Por que? */
        }

        body {
          font-size: 16px;

        }

         
         #amarelo{
          color: yellow;
         }

         #vermelho{
           color:red;
         }

         #Marrom{
           color:brown;
         }

